{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Workers</h2>
    {% if messages %}
    {% for message in messages %}
        <div class="row">
            <div class="col-4 col-12-medium-{{ message.tags }}">
                <h2>{{ message|safe }}</h2>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    <ul>
        {% for worker in object_list %}

            <a href="{% url 'worker-detail' worker.id %}"><li>{{ worker.name }} {{ worker.surname }}</li></a>

        {% endfor %}
    </ul>
</body>
</html>