{% extends 'base.html' %}
{% load static %}

{% block title %} Update | {% endblock %}

{% block content %}
<div class="containe">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button is-dark is uppercase mt-4">Save</button>
    </form>
        {% if messages %}
            {% for message in messages %}
                <div class="row">
                    <div class="col-4 col-12-medium-{{ message.tags }}">
                        <h2>{{ message|safe }}</h2>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
</div>
{% endblock %}